<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("About", "About", "Home")
        @Html.ActionLink("Contact", "Contact", "Home")
        @Html.ActionLink("Projects", "Projects", "Home")
        @Html.ActionLink("Check Fever", "FeverCheck", "Doctor")
        @Html.ActionLink("Guessing Game", "GuessingGame", "Game")

    </header>
    <div>
        @RenderBody()
    </div>

    <footer>&copyMarja Rolandsson @DateTime.Now.ToShortDateString()</footer>
</body>
</html>
